body{
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header {
  padding: 1em 1em;
  background-color: steelblue;
}

header nav{
  font-weight: bolder;
  color: white;
}

.container {
  padding: 1em 1em;
  display: grid;
  grid-template-columns: minmax(30%, 40%) 1fr;
  height: 90vh;
  grid-gap: 1em;
}

.input{
  background-color: lightsteelblue;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.output{
  background-color: lightsteelblue;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


textarea{
  padding: 1em;
  height: 60%;
  width: 90%;
  outline: none;
  border: none;
  font-size: 1.5em;
}

.output div{
  background: whitesmoke;
  min-height: 4rem;
  width: 80%;
  border-radius: 1em;
}
